body {
    font-family: 'Rubik', sans-serif;
    background-color: #FBFCFE;
}

a {
    color: black;
}

img {}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea:focus,
input:focus {
    outline: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
    background-color: white;
}

.logout {
    font-size: x-large;
}

i:hover {
    color: #1100DA;
    transition: all;
    transition-duration: 300ms;
    cursor: pointer;
}

.title {
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.container-items {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.searchInput {
    width: 100vh;
    padding: 25px;
    padding-left: 90px;
    font-size: larger;
    border-radius: 36px;
    background-color: #F7F5F5;
    border: none;
}

.searchInput::placeholder {
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: #8E8D8D;
}

.user {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 105vh;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 140px;
    background-color: white;
    border-radius: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub {
    font-weight: 400;
    color: #AAAAAA;
}

.user-info>h3 {
    margin: 5px;
}

.user-buttons {
    width: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}