body {
    font-family: 'Rubik', sans-serif;
    background-color: #FBFCFE;
}


.navbar {
	top:0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #E6E6E6;
    background-color: white;
}

.navbar-item {
    display: flex;
    align-items: center;
}

.navbar-item>a {
    padding-left: 32px;
    padding-right: 32px;
    text-decoration: none;
    color: black;
}

.navbar-item>a:hover {
    color: #1100DA;
    transition: all;
    transition-duration: 300ms;
}

.brand > h1 > a{
    text-decoration: none;
    color: black;
}

.brand > h1 {
    font-weight:normal ;
}

.bitcoin-icon {
    transform: matrix(0.97, -0.22, 0.23, 0.97, 0, 0);
    font-size: 32px;
}

.login-icon {
    font-size: x-large;
}

.login {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 452px;
    height: 485px;
    background: #FFFFFF;
    box-shadow: 0px 4px 36px -2px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    gap: 30px;
}

label {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

input {
    width: 328px;
    height: 68px;
    border: 1px solid #D1D1D1;
    border-radius: 14px;
    font-family: 'Rubik';
    font-style: normal;
    font-size: 16px;
    padding-left: 32px;
}

input::placeholder {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #D1D1D1;
}

.email-input {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 350px;
}

.pass-label {
    display: flex;
    justify-content: space-between;
}

.pass-label>a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #ADADAD;
}

.login-button {
    width: 350px;
    height: 71px;
    background: #FFFFFF;
    border: 1px solid #1100DA;
    border-radius: 18px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #1100DA;
}

.login-button:hover {
    background: #1100DA;
    border: 1px solid #1100DA;
    border-radius: 18px;
    color: white;
    cursor: pointer;
    transition: all;
    transition-duration: 300ms;
}

.login-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-btn-container>a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1100DA;
    text-decoration: underline;
}